.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url('https://th.bing.com/th/id/OIP.uwqz5LMwmau5I9LuHkSzaQHaEK?pid=ImgDet&rs=1');
}

#container {
    background-color: black;
}