<div id="container">

<div class="container">
  <div class="card text-center">
    <div class="card-header">
      <h3><b>INICIO DE SESION</b></h3>
    </div>
    <div class="card-body p-4">
      <label style="float: left;"><b>Email:</b></label>
      <input class="form-control m-2" type="email" placeholder="ingrese su email" [(ngModel)]="usuario.email">

      <label style="float: left;"><b>Password:</b></label>
      <input class="form-control m-2" type="password" placeholder="ingrese su password" [(ngModel)]="usuario.password">

      <div class="group">
        <button class="btn btn-outline-primary  m-2" (click)="Ingresar()">Ingresar</button>
        <button class="btn btn-outline-danger  m-2" (click)="IngresarConGoogle()">Ingresar con Google</button>

      </div>
      <label>Aun no tienes cuenta? <a routerLink="/register">Registrarse</a></label>
    </div>


  </div>
</div>
</div>