<div id="container">
  <div class="container mt-4">
    <div class="card text-center">
      <div class="card-header">
        <b> Calcular Sueldo</b>
      </div>
      <div class="card-body p-4">
        <label style="float: left;"><b>Categoria:</b></label>
        <input class="form-control m-2" type="number" placeholder="ingrese la categoria del empleado"
          [(ngModel)]="sueldo.categoria">

        <label style="float: left;"><b>Horas extras: </b></label>
        <input class="form-control m-2" type="number" placeholder="ingrese su las horas trabajadas"
          [(ngModel)]="sueldo.horasExtras">

        <button class="btn btn-primary btn-block m-2" (click)="CalcularSueldo">calcular</button>

      </div>
    </div>

  </div>
</div>